.game1BG {
    -fx-background-image: url("/images/game1BG.jpg");
    -fx-background-position: center;
    -fx-background-size: cover;
}

.progress-bar {
    -fx-box-border: goldenrod;
}

.progress-bar .bar {
    -fx-background-color: -fx-box-border,
    linear-gradient(to bottom, derive(-fx-accent, 95%), derive(-fx-accent, 10%)),
    #00796B; /* this line is the background color of the bar */
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em; /* 5 */
}

.progress-bar > .track {
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
}

.PaneBg {
    -fx-background-image: url("/images/menu.jpg");
    -fx-background-position: center;
    -fx-background-size: cover;
}

.start_btn, .highScore_btn, .btn_exit {
    -fx-text-fill: black;
    -fx-padding: 10px 20px;
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-radius: 15;
    -fx-font-family: "Courier New", monospace;
}

.start_btn:hover, .highScore_btn:hover, .btn_exit:hover {
    -fx-background-color: grey;
    -fx-text-fill: white;
    -fx-border-radius: 15;
    -fx-border-color: grey;
    -fx-padding: 10px 20px;
}

.btn_exit {
    -fx-background-color: rgba(117, 117, 117, 0.8);
    -fx-text-fill: black;
    -fx-padding: 10px 20px;
    -fx-border-color: grey;
    -fx-border-radius: 15;
    -fx-font-family: "Courier New", monospace;
}

.highGridBg {
    -fx-background-image: url("/images/highScoreBg.jpg");
    -fx-background-position: center;
    -fx-background-size: cover;
}

.winnerBg.lose {
    -fx-background-image: url("/images/loser.jpg");
    -fx-background-position: center;
    -fx-background-size: cover;
}

.winnerBg.winner {
    -fx-background-image: url("/images/winner.jpg");
    -fx-background-position: center;
    -fx-background-size: cover;
}

.spaceBarBox {
    -fx-background-color: #7CB342;
    -fx-background-insets: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
}